<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sf.account.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.sf.account.entity.UserEntity">
		<id column="f_id" property="id" javaType="java.lang.Long" jdbcType="BIGINT" />
		<result column="f_account" property="account" javaType="java.lang.String" jdbcType="VARCHAR" />
		<result column="f_pwd" property="pwd" javaType="java.lang.String" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectUser" parameterType="java.lang.String" resultMap="BaseResultMap">
		<![CDATA[
			SELECT f_id, f_account, f_pwd FROM t_user WHERE f_account = #{name}
		]]>
	</select>
	
</mapper>